block title
  title Articles!

block content
  each article in articles
    - console.log(article)
    div
      h2="Article Title: #{article.title}"
      h3="Author: #{article.author}"
      p="Body: #{article.body}"
      p="UrlTitle: #{article.urlTitle}"
