block title
  title Products!

block content
  each product in products
    div
      h2="Product Name: #{product.name}"
      h3="Product Id: #{product.id}"
      p="Price: #{product.price}"
      p="Quantity: #{product.inventory}"

